a,abbr,address,article,aside,audio,b,blockquote,body,caption,cite,code,dd,del,dfn,dialog,div,dl,dt,em,fieldset,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,hr,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{border:0;margin:0;outline:0;padding:0;font-size:100%;font-weight:normal}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}
audio,canvas,video display: inline-block *display: inline *zoom: 1,audio:not([controls]) display: none,[hidden] display: none,html{height:100%;font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body{margin:0;padding:0;width:100%;height:100%;-webkit-user-select:none;-webkit-touch-callout:none;-webkit-box-orient:vertical;-webkit-box-align:stretch;-webkit-tap-highlight-color:rgba(0,0,0,0);display:-webkit-box;}
body *{box-sizing:border-box;margin:0;padding:0;-webkit-user-select:none;-webkit-tap-highlight-color:rgba(255,255,255,0)}
a{text-decoration:none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
a:hover{opacity:1}
img{border:0;-ms-interpolation-mode:bicubic;vertical-align:middle;font-size:0}
table{border-collapse:collapse;border-spacing:0}
th,td,caption{vertical-align:top;text-align:left}

body[data-position="absolute"] > section{position:absolute}
body[data-position="fixed"] > section{position:fixed}
body [data-transition]{-webkit-transition-property:opacity z-index transform;-moz-transition-property:opacity z-index transform;transition-property:opacity z-index transform;-webkit-transition-duration:350ms;-moz-transition-duration:350ms;transition-duration:350ms;-webkit-transition-timing-function:easeOutSine;-moz-transition-timing-function:easeOutSine;transition-timing-function:easeOutSine;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;backface-visibility:hidden}
section{top:0;left:0;width:100%;height:100%;z-index:1;display:none;}
section.show{z-index:2;display:block}
section[data-transition="pop"]{opacity:0;-webkit-transform:scale(1.15);-moz-transform:scale(1.15);transform:scale(1.15);}
section[data-transition="pop"].show{-webkit-transform:scale(1);-moz-transform:scale(1);transform:scale(1);opacity:1}
section[data-transition="pop"].hide{-webkit-transform:scale(.9);-moz-transform:scale(.9);transform:scale(.9);opacity:0}
section[data-transition="slide"]{-webkit-transform:translateX(100%);-moz-transform:translateX(100%);transform:translateX(100%);visibility:visible !important;}
section[data-transition="slide"].show{-webkit-transform:translateX(0%);-moz-transform:translateX(0%);transform:translateX(0%)}
section[data-transition="slide"].hide{-webkit-transform:translateX(-100%);-moz-transform:translateX(-100%);transform:translateX(-100%)}
section[data-transition="cover"]{-webkit-transform:translateY(110%);-moz-transform:translateY(110%);transform:translateY(110%);}
section[data-transition="cover"].show,section[data-transition="cover"].hide{-webkit-transform:translateY(0%);-moz-transform:translateY(0%);transform:translateY(0%)}
section[data-transition="fade"]{opacity:0;}
section[data-transition="fade"]:first-child,section[data-transition="fade"].show{opacity:1}
section[data-transition="fade"]:hide{opacity:0}
header,footer{position:absolute;left:0;width:100%;display:block;z-index:1}
header{top:0;height:44px;line-height:44px;}
header .title{margin-left:4px;float:left;z-index:-1;font-size:1.44em;}
header .title.centered{position:absolute;left:32px;right:32px;text-align:center;display:inline-block}
header img.title{height:26px;margin:9px auto}
footer{bottom:0;height:44px}

article{position:absolute;top:0;bottom:0;width:inherit;height:auto;visibility:hidden;display:none;z-index:0;}
.show > article.active,.hide > article.active,.hiding > article.active{visibility:visible;display:block;z-index:1;}
.show > article.active.pull,.hide > article.active.pull,.hiding > article.active.pull{-webkit-transition-property:transform;-moz-transition-property:transform;transition-property:transform;-webkit-transition-duration:350ms;-moz-transition-duration:350ms;transition-duration:350ms}
header:not(.extended) ~ article{top:44px}
header.extended ~ article{top:74px}
footer ~ article{bottom:44px}
@media handheld, only screen and (min-width: 768px){article.aside{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
}
section.aside:not(.small){-webkit-transform:translateX(264px);-moz-transform:translateX(264px);transform:translateX(264px)}
section.aside.small{-webkit-transform:translateX(64px);-moz-transform:translateX(64px);transform:translateX(64px)}
section.aside.right{-webkit-transform:translateX(-264px);-moz-transform:translateX(-264px);transform:translateX(-264px);}
section.aside.right.small{-webkit-transform:translateX(-64px);-moz-transform:translateX(-64px);transform:translateX(-64px)}
aside{position:absolute;top:0;bottom:0;height:inherit;width:264px;display:none;z-index:-1;}
aside.right{right:0}
aside.show{z-index:0;display:block}
aside header,aside footer{position:relative;left:none;height:44px}
aside footer{position:absolute;bottom:0}
aside.small{width:64px;}
aside.small nav{width:64px;text-align:center;}
aside.small nav a{display:block;padding:0;width:64px;height:64px;}
aside.small nav a .icon{position:absolute;width:inherit;font-size:48px;line-height:56px}
aside.small nav a .tag{position:relative;top:-64px;right:-18.823529411764707px}
aside.small nav a:first-child{margin-top:8px}

.row,.rows{width:100%;margin:0 auto;*zoom:1;}
.row:before,.rows:before,.row:after,.rows:after{content:"";display:table}
.row:after,.rows:after{clear:both}
.row.one,.rows.one{height:10%}
.row.two,.rows.two{height:20%}
.row.three,.rows.three{height:30%}
.row.four,.rows.four{height:40%}
.row.five,.rows.five{height:50%}
.row.six,.rows.six{height:60%}
.row.seven,.rows.seven{height:70%}
.row.eight,.rows.eight{height:80%}
.row.nine,.rows.nine{height:90%}
.row.ten,.rows.ten{height:100%}
.column,.columns{float:left;position:relative;display:block;height:100%;}
.column.centered,.columns.centered{float:none;margin:0 auto}
.column.one,.columns.one{width:10%}
.column.two,.columns.two{width:20%}
.column.three,.columns.three{width:30%}
.column.four,.columns.four{width:40%}
.column.five,.columns.five{width:50%}
.column.six,.columns.six{width:60%}
.column.seven,.columns.seven{width:70%}
.column.eight,.columns.eight{width:80%}
.column.nine,.columns.nine{width:90%}
.column.ten,.columns.ten{width:100%}
[class*="column"] + [class*="column"]:last-child{float:right}
[class*="column"] + [class*="column"].end{float:left}

.list li{list-style-type:none;padding:10px;position:relative;}
.list li,.list li a,.list li small,.list li .right{font-weight:300}
.list li.arrow::after{position:absolute;right:8px;top:40%;width:6px;height:6px;content:'';border-right:3px solid #d0d0d8;border-top:3px solid #d0d0d8;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);transform:rotate(45deg)}
.list li a{display:block}
.list li > .icon,.list li > img{float:left;width:32px;height:32px;margin-right:8px;font-size:2.6em;line-height:1em;text-align:center}
.list li.thumb img,.list li.thumb .icon{margin:-10px 10px -10px -10px;height:53px !important;width:53px !important;font-size:3.6em}
.list li.anchor{padding:2px 10px;}
.list li.anchor .tag{display:none}
.list li strong{position:relative;font-size:1.2em;font-weight:400}
.list li small{display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.list li small + .right{margin-top:-12px}
.list li small,.list li.anchor,.list li .right:not(.tag){font-size:.9em}
.list .loading .right{font-size:1em}
.list .right .icon,.list small .icon{height:13px !important;width:13px !important;margin-right:1px !important;font-size:1.2em !important;line-height:1.1em}
.list.indented li{margin-bottom:10px}

nav.groupbar,footer nav{display:-webkit-box;display:-moz-box;display:box;-webkit-box-pack:justify;-moz-box-pack:justify;box-pack:justify;width:100%;}
nav.groupbar > a,footer nav > a{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1}
header nav a{padding:0 11px !important;z-index:1000;float:left}
header nav .button,header nav button{margin:6px 2px 0 2px;line-height:31px !important;}
header nav .button > .icon,header nav button > .icon{font-size:1.5em;position:relative;top:3px;height:20px;width:20px;line-height:20px;display:inline-block}
header nav.right a.button:last-child{margin-right:6px}
header nav:not(.right) a.button:first-child{margin-left:6px}
header nav a:not(.button){height:44px;}
header nav a:not(.button) > .icon{font-size:1.8em}
header nav .tag{position:relative;top:-12px;left:-12px;margin-right:-20px}
header nav abbr{font-size:.9em;font-weight:700}
header nav .icon ~ abbr{margin-left:4px;float:right}
header nav .loading{margin-top:.5em;font-size:1.6em;}
header nav .loading + .icon{display:none}
nav.groupbar{position:relative;top:44px;height:30px;width:100%;z-index:2;line-height:30px;}
nav.groupbar > a{padding:0;margin:0;height:30px !important;display:block;text-align:center;}
nav.groupbar > a .icon{font-size:1em;margin-right:2px}
nav.groupbar > a .tag{position:relative;top:-1px;left:2px}
footer nav a{text-align:center;display:block;padding:0;height:44px}
footer nav .icon{font-size:2em !important;line-height:44px;width:32px;display:inline-block}
footer nav .tag{top:-42px;left:4px;}
footer nav .tag .loading{top:0;font-size:1.4em}
footer nav abbr{display:none}
footer nav .tag{position:relative;top:-12px;left:-12px;margin-right:-20px}
footer nav.with-labels .icon{line-height:36px}
footer nav.with-labels abbr{display:block !important;margin-top:-8px;z-index:1;font-size:11px;line-height:14px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}

.overthrow-enabled .overthrow{overflow:auto;-webkit-overflow-scrolling:touch}
.scroll{overflow-x:hidden;overflow-y:scroll;-webkit-overflow-scrolling:touch;-webkit-box-flex:1;}
.scroll.horizontal{overflow-x:scroll;overflow-y:hidden;white-space:nowrap}
.scroll > *{-webkit-transform:translate3d(0,0,0)}
:not(.icon).left{float:left}
:not(.icon).right{float:right}
.hidden{display:none}
.indented > *{margin:10px}
.margined{margin:3%}
.wrapper{padding:8px 8px}
.icon.small{font-size:1.3em}
.framed{border:2px solid #fff}
.round{-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}
.block{display:block}
.tag{display:inline-block;padding:0 3px;font-size:11px !important;line-height:1.25em;height:1.35em;text-align:center}
.margin.bottom{margin-bottom:5px}
[data-control=carousel]{overflow:hidden;list-style:none;margin:0}
.text.thin{font-weight:300}
.text.normal{font-weight:400}
.text.bold{font-weight:600}
.text.extra-bold{font-weight:700}
.text.italic{font-style:italic}
.text.underline{text-decoration:underline}
.text.line-through{text-decoration:line-through}
.text.align_left{text-align:left}
.text.align_right{text-align:right}
.text.align_center{text-align:center}
.text.align_justify{text-align:justify}
.text.small{font-size:.9em}
.text.big{font-size:1.2em}
.text.opacity{opacity:.5}

.button,button{display:inline-block;padding:10px 16px;border:none;cursor:pointer;color:#fff !important;font-family:inherit;font-size:1.05em;font-weight:600;text-align:center;text-decoration:none;outline:none;}
.button:disabled,button:disabled,.button.disabled,button.disabled{background:rgba(255,255,255,0.2);color:#999 !important}
.button .icon,button .icon{font-size:1.2em}
.button.anchor,button.anchor{width:100%;position:relative;}
.button.anchor .icon,button.anchor .icon{position:absolute;left:8px}
.button.large,button.large{height:52px;padding:0 24px;font-size:1.4em;line-height:52px}
.button.small,button.small{height:30px;padding:0 8px;font-size:.9em;line-height:28px}

form label,.form label{font-size:1.1em}
form input,.form input,form textarea,.form textarea,form select,.form select,form .progress,.form .progress{margin-bottom:8px;font-size:1.2em}
form input[type="text"],.form input[type="text"],form input[type="password"],.form input[type="password"],form input[type="date"],.form input[type="date"],form input[type="datetime"],.form input[type="datetime"],form input[type="email"],.form input[type="email"],form input[type="number"],.form input[type="number"],form input[type="search"],.form input[type="search"],form input[type="tel"],.form input[type="tel"],form input[type="time"],.form input[type="time"],form input[type="url"],.form input[type="url"],form select,.form select,form textarea,.form textarea{display:block;width:100%;padding:0 6px;height:30px;-webkit-transition:all .15s linear;-moz-transition:all .15s linear;transition:all .15s linear;font-family:inherit;-webkit-appearance:none;-webkit-user-select:text;-webkit-font-smoothing:antialiased;}
form input[type="text"]:focus,.form input[type="text"]:focus,form input[type="password"]:focus,.form input[type="password"]:focus,form input[type="date"]:focus,.form input[type="date"]:focus,form input[type="datetime"]:focus,.form input[type="datetime"]:focus,form input[type="email"]:focus,.form input[type="email"]:focus,form input[type="number"]:focus,.form input[type="number"]:focus,form input[type="search"]:focus,.form input[type="search"]:focus,form input[type="tel"]:focus,.form input[type="tel"]:focus,form input[type="time"]:focus,.form input[type="time"]:focus,form input[type="url"]:focus,.form input[type="url"]:focus,form select:focus,.form select:focus,form textarea:focus,.form textarea:focus{outline:none !important}
form textarea,.form textarea{min-height:64px}
form fieldset,.form fieldset{padding:8px 8px 0 8px;}
form fieldset label,.form fieldset label{display:inline-block;float:left;width:20%;line-height:30px}
form fieldset label + input,.form fieldset label + input{width:80% !important}
form fieldset .icon,.form fieldset .icon{position:absolute;font-size:1.2em;line-height:30px;right:8px}
form fieldset input[type="text"],.form fieldset input[type="text"],form fieldset input[type="password"],.form fieldset input[type="password"],form fieldset input[type="date"],.form fieldset input[type="date"],form fieldset input[type="datetime"],.form fieldset input[type="datetime"],form fieldset input[type="email"],.form fieldset input[type="email"],form fieldset input[type="number"],.form fieldset input[type="number"],form fieldset input[type="search"],.form fieldset input[type="search"],form fieldset input[type="tel"],.form fieldset input[type="tel"],form fieldset input[type="time"],.form fieldset input[type="time"],form fieldset input[type="url"],.form fieldset input[type="url"],form fieldset textarea,.form fieldset textarea{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;border:none;padding:0;}
form fieldset input[type="text"],.form fieldset input[type="text"],form fieldset input[type="password"],.form fieldset input[type="password"],form fieldset input[type="date"],.form fieldset input[type="date"],form fieldset input[type="datetime"],.form fieldset input[type="datetime"],form fieldset input[type="email"],.form fieldset input[type="email"],form fieldset input[type="number"],.form fieldset input[type="number"],form fieldset input[type="search"],.form fieldset input[type="search"],form fieldset input[type="tel"],.form fieldset input[type="tel"],form fieldset input[type="time"],.form fieldset input[type="time"],form fieldset input[type="url"],.form fieldset input[type="url"],form fieldset textarea,.form fieldset textarea,form fieldset input[type="text"]:focus,.form fieldset input[type="text"]:focus,form fieldset input[type="password"]:focus,.form fieldset input[type="password"]:focus,form fieldset input[type="date"]:focus,.form fieldset input[type="date"]:focus,form fieldset input[type="datetime"]:focus,.form fieldset input[type="datetime"]:focus,form fieldset input[type="email"]:focus,.form fieldset input[type="email"]:focus,form fieldset input[type="number"]:focus,.form fieldset input[type="number"]:focus,form fieldset input[type="search"]:focus,.form fieldset input[type="search"]:focus,form fieldset input[type="tel"]:focus,.form fieldset input[type="tel"]:focus,form fieldset input[type="time"]:focus,.form fieldset input[type="time"]:focus,form fieldset input[type="url"]:focus,.form fieldset input[type="url"]:focus,form fieldset textarea:focus,.form fieldset textarea:focus{background:none}
form label.select,.form label.select{position:relative;display:inline-block;width:100%;font-size:inherit;line-height:inherit}
form .select:after,.form .select:after{position:absolute;top:0;right:0;height:30px;width:30px;content:"▼";pointer-events:none;text-align:center;line-height:32px}
form input[type=range],.form input[type=range]{-webkit-appearance:none;outline:none;}
form input[type=range]:not(.checkbox),.form input[type=range]:not(.checkbox){height:15px;width:100%;padding:0;margin-top:2px;border:0;}
form input[type=range]:not(.checkbox)::-webkit-slider-thumb,.form input[type=range]:not(.checkbox)::-webkit-slider-thumb{top:-1px}
form input[type=range].checkbox,.form input[type=range].checkbox{width:64px;height:30px;line-height:30px;padding:0 1px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;}
form input[type=range].checkbox:after,.form input[type=range].checkbox:after{top:-28px;position:relative;content:"OFF";float:right;padding:0 8px;font-weight:700;font-size:12px;line-height:28px}
form input[type=range].checkbox.active:after,.form input[type=range].checkbox.active:after{float:left;content:"ON"}
form input[type=range]::-webkit-slider-thumb,.form input[type=range]::-webkit-slider-thumb{position:relative;width:24px;height:24px;margin:2px;-webkit-appearance:none}
form input[type=range]::-webkit-slider-thumb::after,.form input[type=range]::-webkit-slider-thumb::after{width:6px;height:6px;display:block;content:"";position:relative;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;z-index:9;top:8.5px;left:8.5px}
form .progress,.form .progress{width:100%;}
form .progress .bar,.form .progress .bar{height:15px;line-height:15px;display:block;}
form .progress .bar .value,.form .progress .bar .value{display:block;height:inherit;width:0%;-webkit-transition:width 350ms easeOutSine;-moz-transition:width 350ms easeOutSine;transition:width 350ms easeOutSine}
@media screen and (-webkit-min-device-pixel-ratio:0){.custom-select select{padding-right:30px}
}
.loading{position:relative;left:50%;height:1em;width:1em;margin-left:-.5em;-webkit-transform-origin:.5em .5em;-moz-transform-origin:.5em .5em;transform-origin:.5em .5em;font-size:48px;}
.loading.disable{-webkit-animation:none;-moz-animation:none;display:none}
.loading > span{left:50%;margin-left:-.05em;}
.loading > span,.loading > span::before,.loading > span::after{display:block;position:absolute;width:.1em;height:.25em;top:0;-webkit-transform-origin:.05em .5em;-moz-transform-origin:.05em .5em;transform-origin:.05em .5em;-webkit-border-radius:.1em;-moz-border-radius:.1em;border-radius:.1em}
.loading > span::before,.loading > span::after{content:" "}
.loading > span.top{-webkit-transform:rotate(0);-moz-transform:rotate(0);transform:rotate(0)}
.loading > span.right{-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);transform:rotate(90deg)}
.loading > span.bottom{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);transform:rotate(180deg)}
.loading > span.left{-webkit-transform:rotate(270deg);-moz-transform:rotate(270deg);transform:rotate(270deg)}
.loading > span::before{-webkit-transform:rotate(30deg);-moz-transform:rotate(30deg);transform:rotate(30deg)}
.loading > span::after{-webkit-transform:rotate(-30deg);-moz-transform:rotate(-30deg);transform:rotate(-30deg)}
.loading > span.top{background-color:rgba(0,0,0,0.99)}
.loading > span.top::after{background-color:rgba(0,0,0,0.9)}
.loading > span.left::before{background-color:rgba(0,0,0,0.8)}
.loading > span.left{background-color:rgba(0,0,0,0.7)}
.loading > span.left::after{background-color:rgba(0,0,0,0.6)}
.loading > span.bottom::before{background-color:rgba(0,0,0,0.5)}
.loading > span.bottom{background-color:rgba(0,0,0,0.4)}
.loading > span.bottom::after{background-color:rgba(0,0,0,0.35)}
.loading > span.right::before{background-color:rgba(0,0,0,0.3)}
.loading > span.right{background-color:rgba(0,0,0,0.25)}
.loading > span.right::after{background-color:rgba(0,0,0,0.2)}
.loading > span.top::before{background-color:rgba(0,0,0,0.15)}
.loading.white > span.top{background-color:rgba(255,255,255,0.99)}
.loading.white > span.top::after{background-color:rgba(255,255,255,0.9)}
.loading.white > span.left::before{background-color:rgba(255,255,255,0.8)}
.loading.white > span.left{background-color:rgba(255,255,255,0.7)}
.loading.white > span.left::after{background-color:rgba(255,255,255,0.6)}
.loading.white > span.bottom::before{background-color:rgba(255,255,255,0.5)}
.loading.white > span.bottom{background-color:rgba(255,255,255,0.4)}
.loading.white > span.bottom::after{background-color:rgba(255,255,255,0.35)}
.loading.white > span.right::before{background-color:rgba(255,255,255,0.3)}
.loading.white > span.right{background-color:rgba(255,255,255,0.25)}
.loading.white > span.right::after{background-color:rgba(255,255,255,0.2)}
.loading.white > span.top::before{background-color:rgba(255,255,255,0.15)}
section.show .loading,section.active .loading,.notification .loading{-webkit-animation:rotatingLoader .5s infinite linear;moz-animation:rotatingLoader .5s infinite linear}
@-webkit-keyframes rotatingLoader{0%{-webkit-transform:rotate(0);-moz-transform:rotate(0);transform:rotate(0)}
8.32%{-webkit-transform:rotate(0);-moz-transform:rotate(0);transform:rotate(0)}
8.33%{-webkit-transform:rotate(30deg);-moz-transform:rotate(30deg);transform:rotate(30deg)}
16.65%{-webkit-transform:rotate(30deg);-moz-transform:rotate(30deg);transform:rotate(30deg)}
16.66%{-webkit-transform:rotate(60deg);-moz-transform:rotate(60deg);transform:rotate(60deg)}
24.99%{-webkit-transform:rotate(60deg);-moz-transform:rotate(60deg);transform:rotate(60deg)}
25%{-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);transform:rotate(90deg)}
33.32%{-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);transform:rotate(90deg)}
33.33%{-webkit-transform:rotate(120deg);-moz-transform:rotate(120deg);transform:rotate(120deg)}
41.65%{-webkit-transform:rotate(120deg);-moz-transform:rotate(120deg);transform:rotate(120deg)}
41.66%{-webkit-transform:rotate(150deg);-moz-transform:rotate(150deg);transform:rotate(150deg)}
49.99%{-webkit-transform:rotate(150deg);-moz-transform:rotate(150deg);transform:rotate(150deg)}
50%{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);transform:rotate(180deg)}
58.32%{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);transform:rotate(180deg)}
58.33%{-webkit-transform:rotate(210deg);-moz-transform:rotate(210deg);transform:rotate(210deg)}
66.65%{-webkit-transform:rotate(210deg);-moz-transform:rotate(210deg);transform:rotate(210deg)}
66.66%{-webkit-transform:rotate(240deg);-moz-transform:rotate(240deg);transform:rotate(240deg)}
74.99%{-webkit-transform:rotate(240deg);-moz-transform:rotate(240deg);transform:rotate(240deg)}
75%{-webkit-transform:rotate(270deg);-moz-transform:rotate(270deg);transform:rotate(270deg)}
83.32%{-webkit-transform:rotate(270deg);-moz-transform:rotate(270deg);transform:rotate(270deg)}
83.33%{-webkit-transform:rotate(300deg);-moz-transform:rotate(300deg);transform:rotate(300deg)}
91.65%{-webkit-transform:rotate(300deg);-moz-transform:rotate(300deg);transform:rotate(300deg)}
91.66%{-webkit-transform:rotate(330deg);-moz-transform:rotate(330deg);transform:rotate(330deg)}
100%{-webkit-transform:rotate(330deg);-moz-transform:rotate(330deg);transform:rotate(330deg)}
}@-moz-keyframes rotatingLoader{0%{-webkit-transform:rotate(0);-moz-transform:rotate(0);transform:rotate(0)}
8.32%{-webkit-transform:rotate(0);-moz-transform:rotate(0);transform:rotate(0)}
8.33%{-webkit-transform:rotate(30deg);-moz-transform:rotate(30deg);transform:rotate(30deg)}
16.65%{-webkit-transform:rotate(30deg);-moz-transform:rotate(30deg);transform:rotate(30deg)}
16.66%{-webkit-transform:rotate(60deg);-moz-transform:rotate(60deg);transform:rotate(60deg)}
24.99%{-webkit-transform:rotate(60deg);-moz-transform:rotate(60deg);transform:rotate(60deg)}
25%{-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);transform:rotate(90deg)}
33.32%{-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);transform:rotate(90deg)}
33.33%{-webkit-transform:rotate(120deg);-moz-transform:rotate(120deg);transform:rotate(120deg)}
41.65%{-webkit-transform:rotate(120deg);-moz-transform:rotate(120deg);transform:rotate(120deg)}
41.66%{-webkit-transform:rotate(150deg);-moz-transform:rotate(150deg);transform:rotate(150deg)}
49.99%{-webkit-transform:rotate(150deg);-moz-transform:rotate(150deg);transform:rotate(150deg)}
50%{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);transform:rotate(180deg)}
58.32%{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);transform:rotate(180deg)}
58.33%{-webkit-transform:rotate(210deg);-moz-transform:rotate(210deg);transform:rotate(210deg)}
66.65%{-webkit-transform:rotate(210deg);-moz-transform:rotate(210deg);transform:rotate(210deg)}
66.66%{-webkit-transform:rotate(240deg);-moz-transform:rotate(240deg);transform:rotate(240deg)}
74.99%{-webkit-transform:rotate(240deg);-moz-transform:rotate(240deg);transform:rotate(240deg)}
75%{-webkit-transform:rotate(270deg);-moz-transform:rotate(270deg);transform:rotate(270deg)}
83.32%{-webkit-transform:rotate(270deg);-moz-transform:rotate(270deg);transform:rotate(270deg)}
83.33%{-webkit-transform:rotate(300deg);-moz-transform:rotate(300deg);transform:rotate(300deg)}
91.65%{-webkit-transform:rotate(300deg);-moz-transform:rotate(300deg);transform:rotate(300deg)}
91.66%{-webkit-transform:rotate(330deg);-moz-transform:rotate(330deg);transform:rotate(330deg)}
100%{-webkit-transform:rotate(330deg);-moz-transform:rotate(330deg);transform:rotate(330deg)}
}
.notification{position:absolute;top:0;width:100%;height:100%;z-index:3;display:none;background-color:rgba(0,0,0,0.75);}
.notification .window{position:relative;opacity:0;-webkit-transition:all 350ms;-moz-transition:all 350ms;transition:all 350ms;text-align:center;}
.notification .window.show{opacity:1;-webkit-transition-delay:350ms;-moz-transition-delay:350ms;transition-delay:350ms}
.notification .window strong,.notification .window small{display:block}
.notification .window.growl{left:50%;top:50%;width:104px;margin:-52px auto auto -52px;padding:24px 8px;-webkit-transform:scale(.2);-moz-transform:scale(.2);transform:scale(.2);}
.notification .window.growl.show{-webkit-transform:scale(1);-moz-transform:scale(1);transform:scale(1)}
.notification .window.growl > .icon{font-size:3.6em;line-height:1em;}
.notification .window.growl > .icon ~ strong{margin-bottom:-12px}
.notification .window.growl small{display:none}
.notification .window:not(.growl){width:280px;left:0;top:0;margin:22px auto 0;-webkit-transform:translateY(100%);-moz-transform:translateY(100%);transform:translateY(100%);}
.notification .window:not(.growl).show{-webkit-transform:translateY(0%);-moz-transform:translateY(0%);transform:translateY(0%)}
.notification .window:not(.growl):not(.html){padding-top:24px;}
.notification .window:not(.growl):not(.html) > .icon{font-size:4em;line-height:1em}
.notification .window:not(.growl):not(.html) > strong{font-size:1.2em}
.notification .window:not(.growl):not(.html) > strong,.notification .window:not(.growl):not(.html) small{padding:0 16px 16px 16px}
.notification .window:not(.growl).html .close{position:absolute;top:-14px;right:-14px;font-size:14px;line-height:24px;font-weight:normal;width:24px;height:24px;-webkit-border-radius:14px;-moz-border-radius:14px;border-radius:14px}

section.show > [data-control="pull"]{position:absolute;z-index:-1;top:44px;width:100%;height:80px;padding:10px 0;text-align:center;}
section.show > [data-control="pull"] > .icon{display:inline-block;width:48px;height:48px;font-size:44px;line-height:48px;-webkit-transition:all 300ms;-moz-transition:all 300ms;transition:all 300ms}
section.show > [data-control="pull"] > .loading{display:none;left:0%}
section.show > [data-control="pull"] > strong{position:relative;top:-16px;margin-left:4px;font-size:1.1em}
section.show > [data-control="pull"].rotate > .icon{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);transform:rotate(180deg)}
section.show > [data-control="pull"].refresh > .icon{display:none}
section.show > [data-control="pull"].refresh > .loading{display:inline-block}

.splash{text-align:center;}
.splash > form{margin:24px 32px}
.splash img{max-width:206px;margin:20% auto 0%}
.splash h1{margin-top:20%;font-size:2.2em;font-weight:bold}
.splash .button{margin-top:10px}
.splash .copyright{position:absolute;width:100%;bottom:8px;left:0;font-size:.8em;font-style:normal;padding:0}
