 @font-face {
    font-family: 'Roboto-Thin';
    src:    url('../fonts/Roboto-Thin.ttf') format('truetype');
}

body {
    font-family: 'Roboto-Thin', sans-serif;
}

body > section > header{
	background-color: #3193D6 !important;
}


body > section > article, body > section > [data-control="pull"], body .bck.light {

    /* IE10 Consumer Preview */ 
    background-image: -ms-linear-gradient(top, #35A1E7 0%, #1C88D0 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top, #35A1E7 0%, #1C88D0 100%);

    /* Opera */ 
    background-image: -o-linear-gradient(top, #35A1E7 0%, #1C88D0 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #35A1E7), color-stop(1, #1C88D0));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top, #35A1E7 0%, #1C88D0 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: linear-gradient(to bottom, #35A1E7 0%, #1C88D0 100%);
}


body > section.landing{
    padding-top: 0px;
    padding-bottom: 0px;
}

aside .list li strong {
	font-size: 1.4em;
}
aside .list li strong {
	/*color: #F2F2F2;*/
}

aside .list li > .icon, .list li > img {
	line-height: 0.7em !important;
	font-size: 2.0em !important;
}

h1 sup {
	position: relative;
	display: inline-block;
	font-size: .1em;
	top: -2em;
}

.currency {
    font-size: 34px !important;
    font-weight: bold !important;
}

.margin-top5x{
    margin-top: 5em;
}

article.landing .button.active, .button.active{
    background: transparent;
    border: 2px solid #fff !important;
    box-shadow: none;
    font-weight: bold !important;
}

article.landing .button:hover, .button.active:hover{
    background: #fff;
    border: 2px solid #fff !important;
    box-shadow: none;
    color: #35A1E7 !important;
    font-weight: bold !important;
}

article.landing .button, .button{
    background: transparent;
    box-shadow: none;
    font-weight: bold !important;
}

article.landing .button-header{
    font-size: 1.4em;
    padding: 0 0;
    background: transparent;
    box-shadow: none;
    font-weight: bold !important;
    color: #ffffff !important;
}

.notification .window.confirm button, .notification .window.html button {
    background-color: #1C88D0;    
}

article button, article .button {
    background: transparent !important;
    box-shadow: none !important;
    font-weight: bold !important;    
    border: 2px solid #fff !important;        
}

article button, article .button:hover, article .button.active:hover{
    background: #fff !important;
    border: 2px solid #fff !important;
    box-shadow: none !important;
    color: #35A1E7 !important;
    font-weight: bold !important;
}

ul#appliances {
    background-color: #fff;
}