@font-face {
    font-family: 'Roboto';
    src:    url('../font/Roboto.ttf') format('truetype');
}

@font-face {
    font-family: "Roboto";
    src: url('../font/Roboto-Thin.ttf') format('truetype');
    font-weight: 200;
}

@font-face {
    font-family: "Roboto";
    src: url('../font/Roboto-Light.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url('../font/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
}

body {
    font-family: 'Roboto', sans-serif;

}

body .text.color.theme {
    color: #B1C635;
}

aside > footer {
    background-color: #ee6557;
}

section > article, section > [data-control="pull"] {
    background-color: #E4E4E4;
}


ol, ul {
    list-style: none outside none;
}

.color.theme{
    background-color-: #93B1B2;
}


section > header {
	background-color: #B1C635;
	border-bottom: 3px solid #96AA39;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

section > header > nav a:not(.button) {
    color: #FFFFFF;
    -webkit-text-shadow: none;
    -moz-text-shadow: none;
    text-shadow: none;
}

section > header > nav > a > img.logo{
    height: 35px; 
    top: 3px; 
    position: absolute;
    left: 25px;
}

section > footer .white {
  background-color: #FFF;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-weight:inherit;vertical-align:baseline}

h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
h1 .icon,h2 .icon,h3 .icon,h4 .icon,h5 .icon,h6 .icon{font-size:.85em}
h1{font-size:4.6em}
h2{font-size:2.2em}
h3{font-size:1.8em}
h4{font-size:1.6em}
h5{font-size:1.3em}
h6{font-size:1em}


header .title {
    font-size: 1.8em;
}

aside header .title {
    font-size: 1.3em;
}

aside {
    background-color: #3A3A3A;
    color: #F2F2F2;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

aside .list li strong {
    color: #F2F2F2;
}

aside > header {
    background-color: #3A3A3A;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
aside .list li:not(:last-child) {
    border-bottom: solid 2px #3A3A3A;
    border-top: solid 2px #3A3A3A;
}

aside .list li(:last-child) {
    border-bottom: solid 2px #3A3A3A;
    border-top: solid 2px #3A3A3A;
}

aside .list li{
    background-color: #414141;
    border: solid 2px #3A3A3A;
    border-bottom: solid 2px #3A3A3A;
    border-top: solid 2px #3A3A3A;
    color: #F2F2F2;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 15px;
}

aside .list li small, aside .list li .icon {
    color: #F2F2F2;
}

aside .list li.active {
    background-color: #5B5B5B;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
aside .list li.active strong, aside .list li.active small, aside .list li.active .icon {
    color: #F2F2F2;
}

.splash img {

    margin: 20% auto 5%;
}

.bargraph {
    list-style: none;
    padding-top: 20px;
    /*width: 560px;*/

}



ul.bargraph li {
    height: 35px;
    font-size: 14px;
    margin-bottom: 5px;
}

.text-up {
    display: block;
    font-weight: 200;
}

.display-block{
    display:block;
    line-height:17px;
}

ul.bargraph li.color_1 {
    background: #E3563A;
}

ul.bargraph li.color_2 {
    background: #A8C656;

}

ul.bargraph li.color_3 {
    background: #19AA5F;

}

ul.bargraph li.color_4 {
    background: #00AFD8;

}

ul.bargraph li.color_5 {
    background: #514E93;

}

ul.bargraph li.color_6 {
    background: #E25695;

}

ul.bargraph li.color_7 {
    background: #C35049;

}

ul.bargraph li.color_8 {
    background: #E66F59;

}

ul.bargraph li.color_9 {
    background: #EBA543;
}

.text.thin {
    font-weight: 200;
}

.text.book {
    font-weight: 400;
}

.text.bold {
    font-weight: 700;
}

.text.right {
    text-align: right;
}

.text.center {
    text-align: center;
}
.text-color_ {
    color: #E3563A !important;
}

.text-color_1 {
    color: #A8C656 !important;

}

.text-color_2 {
    color: #19AA5F !important;

}

.text-color_3 {
    color: #00AFD8 !important;

}

.text-color_4 {
    color: #514E93 !important;

}

.text-color_5 {
    color: #E25695 !important;

}

.text-color_6 {
    color: #C35049 !important;

}

.text-color_7 {
    color: #E66F59 !important;

}

.text-color_8 {
    color: #EBA543 !important;
}

.text-color_0 {
    color: #93B1B2 !important;
}


.margin {
    margin: 5px;
}

.margin2x{
	margin: 10px;
}

.margin4x{
	margin: 20px;
}

.margin_bottom
{
    margin-bottom: 5px
}

.margin4x_bottom
{
    margin-bottom: 20px
}

.margin_right
{
    margin-right: 5px
}

.margin_left
{
    margin-left: 5px
}

.margin_top
{
	margin-top: 5px;
}

.padding{
	padding: 5px;
}

.padding_bottom
{
    padding-bottom: 5px
}

.padding_right
{
    padding-right: 5px
}

.padding_left
{
    padding-left: 5px
}

.padding_top
{
	padding-top: 5px;
}

section .list li.warning {
    -webkit-box-shadow: inset 4px 0 #edba22;
    -moz-box-shadow: inset 4px 0 #edba22;
    -ms-box-shadow: inset 4px 0 #edba22;
    -o-box-shadow: inset 4px 0 #edba22;
    box-shadow: inset 4px 0 #edba22;
}



.splash h1 {
    font-size: 2.6em;
}

img.background {
   max-width: 100%;

    /* Set up proportionate scaling */
    width: 100%;
    height: 100%;

    /* Set up positioning */
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}

img{
    max-width: 100%;
}
.redBorder {
    background-color: #f33e6f;
}

.yellowBorder {
    background-color: #fdb45c;
}

.greenBorder {
    background-color: #46bfbd;
}

.redBorder, .greenBorder, .yellowBorder {
    width: 33.33%;
    float: left;
    height: 8px;
}

.footer-text{
    text-align: center;
    background-color: #EBEBEB;
}

li .container {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #6B6B6B;
    display: block;
    font: 21px/53px;
    height: 55px;
    position: relative;
    text-align: left;
    text-decoration: none;
}

 li .container .ico {
    height: 55px;
    text-align: center;
    padding: 0;
    line-height: 55px;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    width: 41px;
    vertical-align: top;
}

li .container .input-holder {
    float: left;
    margin: 0 0 0 41px;
    position: relative;
}

li .container .input-holder input {
    border: 0 none;
    color: #6B6B6B;
    float: left;
    font: 21px/22px;
    left: 10px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 13px;
    vertical-align: top;
    width: 242px;
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,0.0);;
    box-shadow: inset 0 0px 0px rgba(0,0,0,0.0);;
}

article .button, article button {
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,0.0);;
    box-shadow: inset 0 0px 0px rgba(0,0,0,0.0);
    border: 0;
}

.button_expense{
    font-size: 1.2em !important;
    height: 20px;
    line-height: 20px;
    background-color: #D14836 !important;
    color: #000000 !important;
    padding: 9px 16px !important;
}

.button.income{
    font-size: 1.2em !important;
    height: 20px;
    line-height: 20px;
    background-color: #A8C656 !important;
    color: #000000 !important;
    padding: 9px 16px !important;
}

aside .list li > .icon, .list li > img {
    line-height: 0.6em !important;
    font-size: 2.0em !important;
}

aside .list li strong {
    font-size: 1.4em;
}

.card{
    margin: 15px;
    border: 0px !important;
    box-shadow: 1px 3px 3px #999999;
    -webkit-box-shadow: 1px 3px 3px #999999;
    -moz-box-shadow: 1px 3px 3px #999999;
}

section .list li:not(.anchor) {
    border-bottom: 0px;
}

.expense{
    color: #D14836 !important;
}

.income{
    color: #A8C656 !important;
}

div#carousel > ul {
    text-align: center;
}

div#carousel > ul li {
    text-indent: 0;
    background-color: #f1e9d3;
    color: #f1e9d3;
    cursor: pointer;
    width: 18px;
    height: 18px;
    margin-left: 10px;
    display: inline-block;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

div#carousel > ul li.prev, div#carousel > ul li.next{
    background-color: #ffffff;
    font-size: 0.9em
}

div#carousel > ul li a{
    color: #007db5;
}

div#carousel >ul li.selected {
    background-color: #afa691;
    color: #afa691;
    cursor: auto;
}

div#carousel > ul span.bullet {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}

div#carousel div a.button {
    margin: 5px;
}

nav.headerbar {
    display:-webkit-box;display:-moz-box;display:box;-webkit-box-pack:justify;-moz-box-pack:justify;box-pack:justify;width:100%;
}

nav.headerbar a{
    display: block; margin: 0; padding: 0; text-align: center;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;
    float: none;
}

div.carousel ul a{
    color
}

.simplecategory {
    float: left;
    text-align: center;
    padding: .2em;
    margin: .5em;
    width: 8.5em;
    border-radius: .375em;
    top:0;
    position:relative;
}

.simplecategory span{
    font-size: 2.5em;
    color : #007db5;
}

.simplecategory input {
    width: 100%;
    text-align: center;
    font-family: consolas, monospace;
    border-radius:3px;
    border:none;
    background:#26AE5C;
    color:#26AE5C;
    padding:4px;
    color:#ffffff;
}

.simplecategory input {
    margin-top: .75em;
}

.active-income{
    box-shadow: 0 -3px 0 #A8C656 inset;
    background: #A8C656;
    color: #fff !important;
}

.active-expense{
    box-shadow: 0 -3px 0 #D14836 inset;
    background: #D14836;
    color: #fff !important;
}

.theme:active,
li.theme:active,
a.theme:active {
  background-color: #93B1B2;
}

a.theme:hover {
    background-color: #ACCFD1;
}

section > header > nav a:not(.button):active {
  color: #ffffff;
}

.button-tag {
    background: none repeat scroll 0 0 #BBE5F9;
    border-left: 0.5em solid #3387C4;
    color: #3387C4;
    display: block;
    float: left;
    font-size: 0.8em;
    line-height: 1;
    margin: 0.8em;
    padding: 1.5em;
    text-transform: uppercase;
}

span.calculator_number:focus{
    background-color: #BBE5F9;
}

.hidden {
    visibility:hidden;
    display:none;
}

.green {
    color: #A8C656;
}

.red {
    color: #D14836;
}

div.window > a.button.anchor {
    position: relative;
    width: 50% !important;
}

li.active > span.icon{
    color: #93B1B2 !important;
}

.active-item{
    background-color: #AFD4D4 !important;
    color: white !important
}
.fs1 {
    font-size: 1.5em;
}

.glyph {
    float: left;
    text-align: center;
    /*padding: .5em;*/
    margin: 0 .5em;
    width: 5.8em;
    /*border-radius: .375em;
    top:0;*/
    position:relative;
}
.glyph span {
    width: 100%;
    text-align: center;
    padding:4px;
    padding-left: 20px;
    color:#ccc;
    /*background:#26AE5C;
    color:#26AE5C;*/
}

.glyph input {
    width: 100%;
    text-align: center;
    font-family: consolas, monospace;
    border-radius:3px;
    border:none;
    padding:4px;
    /*background:#26AE5C;
    color:#26AE5C;*/
}

.glyph input, .mtm {
    margin-top: .75em;
}

.option-card{    
    border: 1px solid #ccc;
    padding: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 1%;
    background-color: #ebebeb;
    cursor: pointer;    
}

.active-red{
    color: red;
    font-weight: 600;
}

.float-left{
    float: left;
}

.simple-active{
    color: #3387C4 !important;
}

header a.active{
    background: #96AA39;

}

.notification .window:not(.growl) button, .notification .window:not(.growl) .button {
    color: #FFFFFF !important;
    border: 2px solid #96AA39 !important;
    background-color: #96AA39 !important;
}

.color.accept{
    background-color: #B1C635 !important;
}

.color.cancel{
    background-color: #E84849 !important;
}

.color.warning{
    background-color: #F9A72F !important;
}

.border.accept{
    border: 2px solid #B1C635;
}

.border.cancel{
    border: 2px solid #E84849;
}

.border.warning{
    border: 2px solid #F9A72F;
}

.margin_none{
    margin:0px !important;
}
.color-theme2{
    color: #96AA39;
}

.border-rounded{
    border: 2px solid white;
    border-radius: 36px;
    -webkit-border-radius: 36px;
    -moz-border-radius: 36px;
}

.icon-size{
    height:32px;
     width:32px;
}

header nav.left a span#aleft{
    top: -5px;
    position: relative;
}